__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.bak
*.log
.Python
.env
.git
.gitignore
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.poetry/
.eggs/
*.egg-info/
*.egg
build/
dist/
.eggs/
node_modules/
*.sqlite3
/.venv/
/.pytest_cache/
/tests/
